<button id="modal-button1" class="button" type="button" data-toggle="modal" data-target="#myModal1">Newest Courses!</button>

<div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <h4 class="modal-title">Courses</h4>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button type="button" class="button" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>