<div class="form-data">
    <form class="form-signin" action="/courses/create" method="POST">
        <h2 class="form-signin-heading">Create a new Course:</h2>
        <br>
        <label for="txtTitle">Title: </label>
        <input class="form-control" type="text" name="title" id="txtTitle" placeholder="Course title" autofocus required>
        <br>
        <label for="txtDescription">Description: </label>
        <input class="form-control" type="text" name="description" id="txtDescription" placeholder="Course description" required>
        <br>
        <label for="txtMaxStudents">Max Students: </label>
        <input class="form-control" type="text" name="maxStudents" id="txtMaxStudents" placeholder="Max num of Students" required>
        <br>
        <label for="txtCost">Cost: </label>
        <input class="form-control" type="text" name="cost" id="txtCost" placeholder="Course cost" required>
        <br>
        <button class="btn btn-lg button btn-block" type="submit">Create Course</button>
    </form>
</div>