<div class="container">
    <div class="col-sm-6">
        <img src="/images/people.jpg">
    </div>
    <div class="col-sm-6">
        <h1>Weclome!</h1>
        <p>This is the Confetti Cuisine community website.</p>
        <p>Please check out some cool courses by our creative chefs <a href="/courses">Here</a>.</p>
        <p>If you don't see a course you like or would like to submit some ideas, do so <a href="/courses/new">Here</a>. We'll review your submission and add it to our growing list!</p>
        <p>When you see a course you like, you can <a href="/subscribers/new">Subscribe</a>, or <a href="/users/new">Sign Up</a> to register for it!</p>
    </div>
</div>